@use 'sass:map';
@use 'utils';

$button-icon-size: 1.25rem;
$icon-button-width: 2rem;

button {
  @include utils.font(utils.$large-size, utils.$bold-font, utils.$tight-font);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 1rem;

  padding: 0.75rem;
  min-height: $button-icon-size;
  min-width: 6.25rem;

  border-radius: utils.$regular-radius;
  border: none;
  box-sizing: border-box;

  cursor: pointer;

  svg {
    font-size: $button-icon-size;
  }
}

@mixin button(
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  color: $text-color;
  transition: all utils.$hover-time;

  &:hover,
  &:focus-visible {
    color: $text-color-hover;
    outline: none;
  }

  &:active {
    color: $text-color-active;
    transition: all utils.$active-time;
  }

  &:disabled {
    color: $text-color-disabled;
  }
}

@mixin button-filled-base(
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color,
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  @include button(
    $text-color,
    $text-color-hover,
    $text-color-active,
    $text-color-disabled
  );

  background-color: $main-color;
  box-shadow: 0 0 utils.$blur utils.$spread $main-color;

  &:hover,
  &:focus-visible {
    background-color: $hover-color;
    box-shadow: 0 0 utils.$blur 2 * utils.$spread $hover-color;
  }

  &:active {
    background-color: $active-color;
    box-shadow: 0 0 utils.$blur 2 * utils.$spread $main-color;
  }

  &:disabled {
    background-color: $disabled-color;
    box-shadow: none;
  }
}

@mixin button-filled(
  $variant,
  $selector,
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color,
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  button.#{$variant}#{$selector} {
    @include button-filled-base(
      $main-color,
      $hover-color,
      $active-color,
      $disabled-color,
      $text-color,
      $text-color-hover,
      $text-color-active,
      $text-color-disabled
    );
  }
}

@mixin button-outlined(
  $selector,
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color,
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  button.outlined#{$selector} {
    @include button(
      $text-color,
      $text-color-hover,
      $text-color-active,
      $text-color-disabled
    );

    background-color: transparent;
    box-shadow:
      0 0 utils.$blur utils.$spread $main-color,
      inset 0 0 utils.$blur utils.$spread $main-color,
      inset 0 0 0 2px $main-color;

    &:hover,
    &:focus-visible {
      box-shadow:
        0 0 utils.$blur 2 * utils.$spread $hover-color,
        inset 0 0 utils.$blur 2 * utils.$spread $hover-color,
        inset 0 0 0 2px $hover-color;
    }

    &:active {
      box-shadow:
        0 0 utils.$blur 2 * utils.$spread $main-color,
        inset 0 0 utils.$blur 2 * utils.$spread $main-color,
        inset 0 0 0 2px $main-color;
    }

    &:disabled {
      box-shadow: inset 0 0 0 2px $disabled-color;
    }
  }
}

@mixin button-link(
  $selector,
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color
) {
  button.link#{$selector} {
    @include button($main-color, $hover-color, $active-color, $disabled-color);

    background-color: transparent;

    * {
      filter: drop-shadow(0 0 utils.$spread $main-color);
    }

    &:hover,
    &:focus-visible * {
      filter: drop-shadow(0 0 2 * utils.$spread $hover-color);
    }

    &:active * {
      filter: drop-shadow(0 0 2 * utils.$spread $active-color);
    }

    &:disabled * {
      filter: none;
    }
  }
}

@mixin button-text(
  $selector,
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color
) {
  button.text#{$selector} {
    @include button($main-color, $hover-color, $active-color, $disabled-color);
    background-color: transparent;
  }
}

@mixin link($color-selector, $hover-color, $active-color) {
  a#{$color-selector} {
    &:hover,
    &:focus-visible {
      color: $hover-color;
    }

    &:active {
      color: $active-color;
    }
  }

  a.underlined#{$color-selector} {
    &:hover,
    &:focus-visible {
      text-decoration-color: $hover-color;
    }

    &:active {
      text-decoration-color: $active-color;
    }
  }
}

a button {
  width: 100%;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: utils.$input-label-gap;
}

.buttons-flex-box {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-start;
  gap: 1.5rem;

  > * {
    flex: 1 1;
    > * {
      width: 100%;
    }
  }
}

button.icon {
  min-width: unset;
  min-height: unset;
  border-radius: utils.$max-radius;
  font-size: $button-icon-size;
  padding: ($icon-button-width - $button-icon-size) * 0.5;
}
