@use 'utils';

button {
  @include utils.font(utils.$large-size, utils.$bold-font, utils.$tight-font);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  gap: 8px;
  padding: 12px;
  min-width: 100px;
  border-radius: utils.$regular-radius;
  border: none;
}

@mixin button(
  $filled,
  $outlined,
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color,
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  color: $text-color;
  transition: all utils.$hover-time;

  &:hover,
  &:focus-visible {
    color: $text-color-hover;
    outline: none;
  }

  &:active {
    color: $text-color-active;
    transition: all utils.$active-time;
  }

  &:disabled {
    color: $text-color-disabled;
  }
}

@mixin button-filled(
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color,
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  button.filled {
    @include button(
      true,
      false,
      $main-color,
      $hover-color,
      $active-color,
      $disabled-color,
      $text-color,
      $text-color-hover,
      $text-color-active,
      $text-color-disabled
    );

    background-color: $main-color;
    box-shadow: 0 0 utils.$blur utils.$spread $main-color;

    &:hover,
    &:focus-visible {
      background-color: $hover-color;
      box-shadow: 0 0 utils.$blur 2 * utils.$spread $hover-color;
    }

    &:active {
      background-color: $active-color;
      box-shadow: 0 0 utils.$blur 2 * utils.$spread $main-color;
    }

    &:disabled {
      background-color: $disabled-color;
      box-shadow: none;
    }
  }
}

@mixin button-outlined(
  $main-color,
  $hover-color,
  $active-color,
  $disabled-color,
  $text-color,
  $text-color-hover,
  $text-color-active,
  $text-color-disabled
) {
  button.outlined {
    @include button(
      false,
      true,
      $main-color,
      $hover-color,
      $active-color,
      $disabled-color,
      $text-color,
      $text-color-hover,
      $text-color-active,
      $text-color-disabled
    );

    background-color: transparent;
    box-shadow:
      0 0 utils.$blur utils.$spread $main-color,
      inset 0 0 utils.$blur utils.$spread $main-color,
      inset 0 0 0 2px $main-color;

    &:hover,
    &:focus-visible {
      box-shadow:
        0 0 utils.$blur 2 * utils.$spread $hover-color,
        inset 0 0 utils.$blur 2 * utils.$spread $hover-color,
        inset 0 0 0 2px $hover-color;
    }

    &:active {
      box-shadow:
        0 0 utils.$blur 2 * utils.$spread $main-color,
        inset 0 0 utils.$blur 2 * utils.$spread $main-color,
        inset 0 0 0 2px $main-color;
    }

    &:disabled {
      box-shadow: inset 0 0 0 2px $disabled-color;
    }
  }
}
