@use 'utils';

.metrics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3.5rem;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.25rem;
}

.data-block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: stretch;

  padding: 0.5rem;

  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;

  @include utils.font(utils.$small-size, utils.$regular-font, utils.$fit-font);
}

.period-top {
  @include utils.font(utils.$small-size, utils.$regular-font, utils.$wide-font);
  min-width: 11rem;

  .data-block-title {
    box-sizing: content-box;
    border-bottom: solid 0.125rem;
    padding-bottom: 0.25rem;

    p {
      @include utils.font(
        utils.$regular-size,
        utils.$bold-font,
        utils.$wide-font
      );
      width: 100%;
      text-align: center;
    }
  }

  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;

      margin-bottom: 0.75rem;

      .skeletons {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }

      svg {
        width: utils.$large-size;
      }
    }
  }
}

.select-title {
  display: flex;
  align-items: flex-end;
  .text-select-group {
    display: inline-flex;
  }
}

.period-tops {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  overflow-x: auto;
}
