@use 'utils';

.metrics {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3.5rem;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1.25rem;
}

.metrics-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.blocks-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;

  overflow-x: auto;
  margin-bottom: 0.25rem;
}

.data-block {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: stretch;

  padding: 0.5rem;

  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;

  @include utils.font(utils.$small-size, utils.$regular-font, utils.$fit-font);
}

.period-top {
  @include utils.font(utils.$small-size, utils.$regular-font, utils.$wide-font);
  box-sizing: border-box;
  min-width: 11rem;
  height: fit-content;
  max-height: 100%;

  .data-block-title {
    box-sizing: content-box;
    border-bottom: solid 0.125rem;
    padding-bottom: 0.25rem;

    p {
      @include utils.font(
        utils.$regular-size,
        utils.$bold-font,
        utils.$wide-font
      );
      width: 100%;
      text-align: center;
    }
  }

  ol {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2px;

      margin-bottom: 0.75rem;

      .skeletons {
        width: 100%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.select-title {
  display: flex;
  align-items: flex-end;
  .text-select-group {
    display: inline-flex;
  }
}

.period-tops {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 0.25rem;
}

.period-tops-groups,
.period-tops-in-group,
.years {
  display: flex;
  flex-direction: row-reverse;
  gap: 1.5rem;
  width: fit-content;
}

.period-tops-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@mixin data-block($bg-color, $border-color, $underline-color) {
  .data-block {
    background-color: $bg-color;
    border-color: $border-color;
  }

  .period-top {
    .data-block-title {
      border-color: $underline-color;
    }
  }
}

.empty-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    width: 50%;
  }
}

@mixin empty-cover($bg-color, $svg-color) {
  .empty-cover {
    background-color: $bg-color;

    svg {
      color: $svg-color !important;
    }
  }
}
