@use 'utils';
@use 'sass:map';

$table-gap: 3px;
$table-body-padding: 2px;
$table-row-padding-y: 0.7em;
$table-row-padding-x: 0.4em;
$header-glow: 1px;

.table {
  height: inherit;
  min-width: 15em;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $table-gap;

  box-sizing: border-box;
  padding: $table-body-padding;
  padding-top: $header-glow;

  position: relative;

  @include utils.font(utils.$small-size, utils.$regular-font, utils.$fit-font);
}

.table__header,
.table__row {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 5fr;
  align-items: stretch;
  min-width: fit-content;

  padding: $table-row-padding-y $table-row-padding-x;

  > * {
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.table__header {
  @include utils.font(utils.$min-size, utils.$bold-font, utils.$fit-font);
  position: sticky;
  top: 0;
  z-index: 2;
  border-radius: 3px;
}

.table__header__cell,
.table__row__cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.table__header__cell--sort {
  cursor: pointer;
}

.table__header__cell__sort-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;

  svg {
    width: 1em;
    height: 1em;

    * {
      stroke-width: 3px;
    }
  }
}

.table__row {
  opacity: 0;

  animation: table-dropdown 50ms ease-out;
  animation-fill-mode: forwards;

  border-radius: 2px;
}

.top-row {
  * {
    font-weight: utils.$bold-font;
  }
}

@mixin table(
  $header-bg-color,
  $header-text-color,
  $header-border-color,
  $header-hover-color,
  $header-active-color,
  $row-bg-color,
  $row-text-color,
  $row-border-color,
  $row-glow-color
) {
  .table {
    color: $row-text-color;
  }

  .table__header {
    background-color: $header-bg-color;
    color: $header-text-color;
    box-shadow: 0 0 0 $header-glow $header-bg-color;
  }

  .table__row {
    background-color: $row-bg-color;
    box-shadow: 0 0 3px 0 $row-glow-color;
  }

  .table__row {
    > * {
      border-right: solid 1px $row-border-color;

      &:last-child {
        border-right: none;
      }
    }
  }

  .table__header {
    > * {
      border-right: solid 1px $header-border-color;

      &:last-child {
        border-right: none;
      }
    }
  }

  .table--hide-borders {
    .table__row,
    .table__header {
      > * {
        border-right: none;
      }
    }
  }

  .table__header__cell--sort {
    &:hover,
    &:focus-visible {
      color: $header-hover-color;
    }

    &:active {
      color: $header-active-color;
    }
  }
}

@keyframes table-dropdown {
  0% {
    opacity: 0.5;
    transform: translateY(-30%);
    z-index: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
    z-index: 1;
  }
}

#studios-table {
  .table__header,
  .table__row {
    grid-template-columns: 1fr 4fr 3fr 2fr 4fr;
  }
}
