$active-colors: (
  'user': #1fbba4,
  'music': #1fbb70,
  'games': #2eacc8,
  'error': #c33333,
  'warning': #d5c534,
  'success': #1fbb70
);

$hover-colors: (
  'user': #0b7a72,
  'music': #0b7a34,
  'games': #146086,
  'error': #831515,
  'warning': #9c8f17,
  'success': #0b7a34
);

$disabled-colors: (
  'user': #5c807d,
  'music': #5c806c,
  'games': #5c7780,
  'error': #805f5f,
  'warning': #716e52,
  'success': #5c806c
);

$highlight-colors: (
  'user': #69dfce,
  'music': #7aebb4,
  'games': #a5eeff,
  'error': #e67d7d,
  'warning': #fff280,
  'success': #7aebb4
);

$autofill-colors: (
  'user': #8fecde,
  'music': #8fecbf,
  'games': #8fdbec,
  'error': #e09090,
  'warning': #e0d78a,
  'success': #8fecbf
);

$text-colors: (
  'user': #dee6e5,
  'music': #dee6e2,
  'games': #dee4e6,
  'error': #e6dfde,
  'warning': #e6e5df,
  'success': #dfe6e2
);

$bg-1-colors: (
  'user': #050907,
  'music': #050906,
  'games': #050709,
  'error': #0a0606,
  'warning': #0c0c07,
  'success': #060c09
);

$bg-2-colors: (
  'user': #0f2721,
  'music': #0f2717,
  'games': #0f1b27,
  'error': #270e0e,
  'warning': #27270c,
  'success': #0f2717
);

$diagram-colors: (
  0: #2eacc8,
  1: #982dc6,
  2: #c05431,
  3: #d5c534,
  4: #1fbb70,
  5: #d235c7,
  6: #c33333,
  7: #3257df,
  8: #63d43a,
  9: #1fbba4,
  10: #cdcdcd
);

$rating-classes: 'high', 'medium', 'low';

$rating-colors: (
  high: #1fbba4,
  medium: #d5c534,
  low: #c33333
);

$white: #ffffff;
$black: #000000;
$black-alpha: #0000004d;
$white-alpha: #ffffff4d;
$text-darker: #b8bfbe;
$input-disabled: #b8bfbe;
$placeholder-color: #919191;
$placeholder-darker: #4d4d4d;

$skeleton-color: #6c6c6c;
$skeleton-light-color: #a4a4a4;
$skeleton-gloss-transparent: #ffffff00;
$skeleton-gloss-brigt: #ffffff60;

$shadow-length: 0.25rem;
$blur: 0.25rem; //4px
$spread: 1px;
$hover-time: 200ms;
$active-time: 50ms;

$large-radius: 0.75rem;
$regular-radius: 0.5rem;
$small-radius: 0.25rem;
$max-radius: 1000px;

$inter: var(--font-inter);
$ibm-plex: var(--font-ibm-plex);

$regular-font: 400;
$medium-font: 500;
$semi-bold-font: 600;
$bold-font: 700;

$large-size: 1.125rem; //18px
$regular-size: 1rem; //16px
$small-size: 0.875rem; //14px
$min-size: 0.8125rem; //13px

$title-size: 2.25rem; //36px
$h1-size: 1.75rem; //28px
$h2-size: 1.5rem; //24px
$h3-size: 1.125rem; //18px
$h4-size: 1rem; //16px

$tight-font: 1;
$fit-font: 1.2;
$wide-font: 1.4;

$input-label-gap: 0.5rem; //8px
$layout-padding: 3rem;

@mixin font($font-size, $font-weight, $line-height) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin header($level) {
  @if $level == 1 {
    @include font($h1-size, $bold-font, $wide-font);
  } @else if $level == 2 {
    @include font($h2-size, $bold-font, $wide-font);
  } @else if $level == 3 {
    @include font($h3-size, $bold-font, $fit-font);
  } @else {
    @include font($h4-size, $bold-font, $fit-font);
  }
  font-family: $ibm-plex;
}

@mixin underline($color) {
  text-decoration: underline dotted $color 2px;
  text-underline-offset: 2px;
}

@mixin light-scrollbar() {
  &::-webkit-scrollbar-track {
    background-color: $text-darker;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $white;
    border-color: $text-darker;
  }
}
