@use 'utils';
@use 'inputs';
@use 'binary-inputs';

$games-input-themes:
  'light' utils.$games-text-color utils.$games-active-color
    utils.$games-bg-2-color,
  'dark' utils.$games-text-color utils.$games-hover-color
    utils.$games-bg-2-color;

$games-text-select-themes:
  'light' utils.$games-text-color utils.$games-active-color
    utils.$games-bg-2-color,
  'dark' utils.$games-bg-2-color utils.$games-hover-color
    utils.$games-bg-2-color;

$games-radio-themes:
  'light' utils.$games-text-color utils.$games-active-color
    utils.$games-hover-color utils.$games-disabled-color,
  'dark' utils.$games-text-color utils.$games-hover-color
    utils.$games-active-color utils.$games-disabled-color;

$games-range-themes:
  'light' utils.$games-text-color,
  'dark' utils.$text-darker;

$games-label-themes:
  'light' utils.$games-text-color,
  'dark' utils.$games-bg-2-color;

.games {
  @include inputs.input-text-generator($games-input-themes);
  @include inputs.textarea($games-input-themes);
  @include inputs.range-generator($games-range-themes);
  @include inputs.label-generator($games-label-themes);
  @include binary-inputs.input-binary-generator($games-radio-themes);
}
