@use 'utils';
@use 'sass:map';
@use 'metrics';

$rating-block-rating-size: 9em;
$rating-block-rating-border: $rating-block-rating-size - 1.5em;

.games-page-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2em;

  button {
    min-height: 1em;
    height: utils.$h1-size * utils.$wide-font;
  }
}

.game-table-title,
.browsed-game {
  font-size: utils.$small-size;

  display: grid;
  grid-template-columns: 2.25em 1fr;
  align-items: center;
  gap: 0.5em;
}

.game-table-title {
  .game-table-name {
    flex-grow: 1;
  }
}

.game-cover {
  aspect-ratio: 264 / 374;
  border-radius: utils.$regular-radius;

  img {
    object-fit: contain;
  }
}

.screenshot {
  aspect-ratio: 569 / 320;
  border-radius: utils.$regular-radius;

  img {
    object-fit: contain;
  }
}

.game-collage {
  display: grid;
  grid-template-areas:
    'a b'
    'a c';

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 92fr 100fr;

  align-items: stretch;
  gap: 0.5em;

  aspect-ratio: 200 / 120;
  height: min-content;

  .game-cover {
    grid-area: a;
    border-radius: utils.$small-radius;
    aspect-ratio: unset;
  }

  .screenshot {
    border-radius: utils.$small-radius;
    aspect-ratio: unset;
  }

  .screenshot-1 {
    grid-area: b;
  }

  .screenshot-2 {
    grid-area: c;
  }
}

.search-game-form,
#update-game-popup .card {
  min-height: 25rem;
  height: 85vh;
}

.browsed-game {
  border-radius: utils.$small-radius;
  background-color: map.get(utils.$bg-1-colors, 'games');
  padding: 0.25em;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: map.get(utils.$hover-colors, 'games');
      transition: background-color utils.$hover-time;
    }

    &:active {
      background-color: map.get(utils.$active-colors, 'games');
      transition: background-color utils.$active-time;
    }
  }

  .browsed-game-data {
    .browsed-game-name {
      margin-bottom: 0.25em;
    }
  }
}

.browsed-games {
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25em;

  padding: 0.25em;
  border-radius: utils.$regular-radius;
  background-color: map.get(utils.$bg-2-colors, 'games');
}

#game-rating-form {
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1em;

  padding: 0.25em;
}

.game-buttons {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.game-page-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 3em;
}

.game-detials {
  font-size: utils.$regular-size;

  display: grid;
  grid-template-columns: 34.25em 1fr;
  gap: 2em;

  .game-detials-info {
    min-height: 17em;
    min-width: 30em;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    padding: 1em;
    box-sizing: border-box;
    border-radius: utils.$large-radius;
    background-color: map.get(utils.$bg-1-colors, 'games');

    .game-details-info-block {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 1.5em;
    }

    .prop-block-title {
      margin-bottom: 0.25em;
      font-weight: utils.$bold-font;
    }
  }

  .game-details-collage {
    height: 17em;
    display: grid;
    grid-template-columns: 204fr 332fr;
    gap: 0.75em;

    aspect-ratio: 548 / 272;

    .game-cover {
      aspect-ratio: unset;
    }

    .screenshots-collage {
      display: grid;
      grid-template-rows: 186fr 76fr;
      aspect-ratio: 332 / 272;
      gap: 0.625em;

      .title-screenshot {
        display: flex;
        flex-direction: row;

        overflow-x: hidden;
        scroll-behavior: smooth;

        .screenshot {
          min-width: 100%;
        }
      }

      .screenshots-carousel {
        max-width: 100%;
        padding-bottom: 0.25em;
        overflow-x: scroll;
        scroll-behavior: smooth;

        display: flex;
        flex-direction: row;
        gap: 0.625em;

        .screenshot {
          min-width: fit-content;

          &:not(.skeletons) {
            transition:
              filter utils.$hover-time,
              border-width utils.$hover-time;
            cursor: pointer;
            border-width: 0em;

            &:hover {
              filter: brightness(2);
            }

            &.choosen {
              border-style: solid;
              border-width: 0.1875em;
              border-color: map.get(utils.$active-colors, 'games');
            }
          }
        }
      }
    }
  }
}

#game-ratings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.rating-block {
  font-size: 1em;
  box-sizing: border-box;
  min-height: 11em;

  padding: 0.75em;
  border-radius: utils.$regular-radius;
  background-color: map.get(utils.$bg-1-colors, 'games');

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75em;

  h3 {
    text-align: center;
  }

  .rating,
  .playtime-rating {
    font-size: 3em;
  }

  .positions {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 0.5em;

    .position {
      flex-grow: 1;

      > * {
        width: 100%;
        text-align: center;
      }

      .position-number {
        @include utils.font(1.25em, utils.$bold-font, utils.$fit-font);
      }

      .position-label {
        @include utils.font(0.875em, utils.$regular-font, utils.$tight-font);

        font-style: italic;
        color: utils.$text-darker;
      }
    }
  }
}

.recommended-games {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3em;

  overflow-x: auto;

  margin-bottom: 0.25em;
}

.recommended-game {
  min-width: 15.5em !important;
  gap: 0.75em;
}
