@use 'utils';
@use 'sass:map';

.games-page-name {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.game-table-title,
.browsed-game {
  display: grid;
  grid-template-columns: 1.95rem 1fr;
  align-items: center;
  gap: 0.5rem;
}

.game-table-title {
  .game-table-name {
    flex-grow: 1;
  }
}

.game-cover {
  aspect-ratio: 264 / 374;
  border-radius: utils.$regular-radius;

  img {
    object-fit: contain;
  }
}

.screenshot {
  aspect-ratio: 569 / 320;
  border-radius: utils.$regular-radius;

  img {
    object-fit: contain;
  }
}

.game-collage {
  display: grid;
  grid-template-areas:
    'a b'
    'a c';

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 90fr 100fr;

  align-items: stretch;
  gap: 0.625rem;

  aspect-ratio: 124 / 79;

  .game-cover {
    grid-area: a;
    border-radius: utils.$small-radius;
    aspect-ratio: unset;
  }

  .screenshot {
    border-radius: utils.$small-radius;
    aspect-ratio: unset;
  }

  .screenshot-1 {
    grid-area: b;
  }

  .screenshot-2 {
    grid-area: c;
  }
}

.search-game-form {
  min-height: 25rem;
  height: 85vh;
}

.browsed-game {
  border-radius: utils.$small-radius;
  background-color: map.get(utils.$bg-1-colors, 'games');
  padding: 0.25rem;

  &.clickable {
    cursor: pointer;

    &:hover {
      background-color: map.get(utils.$hover-colors, 'games');
      transition: background-color utils.$hover-time;
    }

    &:active {
      background-color: map.get(utils.$active-colors, 'games');
      transition: background-color utils.$active-time;
    }
  }

  .browsed-game-data {
    .browsed-game-name {
      margin-bottom: 0.25rem;
    }
  }
}

.browsed-games {
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.25rem;

  padding: 0.25rem;
  border-radius: utils.$regular-radius;
  background-color: map.get(utils.$bg-2-colors, 'games');
}

#game-rating-form {
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 1rem;

  padding: 0.25rem;
}
