@use 'sass:map';
@use 'utils';

:root {
  font-size: utils.$regular-size;
  font-family: utils.$inter;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
}

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
  font-family: utils.$inter;
}

::-webkit-scrollbar {
  width: 14px;
  border-radius: utils.$small-radius;
}

::-webkit-scrollbar-track {
  background-color: map.get(utils.$bg-2-colors, 'user');
}

::-webkit-scrollbar-thumb {
  background-color: map.get(utils.$hover-colors, 'user');
  border: solid 3px map.get(utils.$bg-2-colors, 'user');
  border-radius: utils.$small-radius;
}

::-webkit-scrollbar-corner {
  background-color: map.get(utils.$bg-2-colors, 'user');
}

h1 {
  @include utils.header(1);
}

.title {
  @include utils.font(utils.$title-size, utils.$regular-font, utils.$fit-font);
}

h2 {
  @include utils.header(2);
}

h3 {
  @include utils.header(3);
}

h4 {
  @include utils.header(4);
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p,
a {
  @include utils.font(
    utils.$regular-size,
    utils.$regular-font,
    utils.$fit-font
  );

  text-decoration: none;
  margin: 0;
}

a {
  cursor: pointer;
  transition: color utils.$hover-time;

  &:active {
    transition: color utils.$active-time;
  }
}

a.underline {
  transition: text-decoration-color utils.$hover-time;

  &:active {
    transition: text-decoration-color utils.$active-time;
  }
}

label {
  @include utils.font(
    utils.$regular-size,
    utils.$regular-font,
    utils.$wide-font
  );
  font-family: utils.$inter;
  text-align: left;
}

.tight {
  line-height: utils.$tight-font;
}

.wide {
  line-height: utils.$wide-font;
}

.min {
  font-size: utils.$min-size;
}

.small {
  font-size: utils.$small-size;
}

.large {
  font-size: utils.$large-size;
}

b,
.bold {
  font-weight: utils.$bold-font;
}

ul {
  margin: 0;
  padding-left: 1.25rem;
}

.hint {
  font-size: utils.$min-size !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}
