@use 'sass:map';
@use 'utils';
@use 'buttons';
@use 'text-inputs';
@use 'binary-inputs';
@use 'number-inputs';
@use 'components';
@use 'sidebar';

$bg-1-color-length: 28%;
$modules: 'user', 'music', 'games';

@each $module in $modules {
  // .#{$module}:has(> .sidebar) {
  //   padding-right: sidebar.$sidebar-icon-width + sidebar.$sidebar-padding-x * 2;
  // }

  body > .#{$module} {
    box-sizing: border-box;
    padding: 4rem;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(
      map.get(utils.$bg-1-colors, $module) $bg-1-color-length,
      map.get(utils.$bg-2-colors, $module)
    );
  }

  .#{$module} {
    flex-grow: 1;
    color: map.get(utils.$text-colors, $module);

    h1,
    h2,
    h3,
    h4,
    p,
    a,
    span,
    label {
      color: map.get(utils.$text-colors, $module);
    }

    .colored {
      color: map.get(utils.$active-colors, $module);
    }

    .underline {
      @include utils.underline(map.get(utils.$text-colors, $module));
    }

    .colored.underline {
      text-decoration-color: map.get(utils.$active-colors, $module);
    }

    @include buttons.link(
      utils.$text-darker,
      utils.$white,
      map.get(utils.$hover-colors, $module),
      map.get(utils.$highlight-colors, $module)
    );

    @include buttons.button-filled(
      'primary',
      map.get(utils.$active-colors, $module),
      map.get(utils.$hover-colors, $module),
      map.get(utils.$highlight-colors, $module),
      map.get(utils.$disabled-colors, $module),
      utils.$white,
      utils.$white,
      utils.$white,
      map.get(utils.$text-colors, $module)
    );

    @include buttons.button-filled(
      'secondary',
      map.get(utils.$text-colors, $module),
      utils.$text-darker,
      utils.$white,
      utils.$placeholder-color,
      map.get(utils.$hover-colors, $module),
      map.get(utils.$hover-colors, $module),
      map.get(utils.$active-colors, $module),
      utils.$placeholder-darker
    );

    @include buttons.button-outlined(
      map.get(utils.$active-colors, $module),
      map.get(utils.$hover-colors, $module),
      map.get(utils.$highlight-colors, $module),
      map.get(utils.$disabled-colors, $module),
      map.get(utils.$text-colors, $module),
      map.get(utils.$active-colors, $module),
      utils.$white,
      utils.$text-darker
    );

    @include text-inputs.input-select-textarea(
      false,
      map.get(utils.$text-colors, $module),
      map.get(utils.$active-colors, $module),
      map.get(utils.$bg-2-colors, $module)
    );

    @include text-inputs.text-select(
      map.get(utils.$text-colors, $module),
      utils.$text-darker,
      map.get(utils.$active-colors, $module),
      utils.$placeholder-color,
      map.get(utils.$bg-2-colors, $module),
      map.get(utils.$text-colors, $module)
    );

    @include binary-inputs.radio-checkbox-switch(
      map.get(utils.$text-colors, $module),
      map.get(utils.$active-colors, $module),
      map.get(utils.$hover-colors, $module),
      map.get(utils.$disabled-colors, $module)
    );

    @include number-inputs.slider(
      map.get(utils.$text-colors, $module),
      map.get(utils.$text-colors, $module),
      map.get(utils.$active-colors, $module),
      map.get(utils.$active-colors, $module)
    );

    @include number-inputs.circle-slider(
      map.get(utils.$text-colors, $module),
      map.get(utils.$active-colors, $module),
      map.get(utils.$bg-1-colors, $module),
      map.get(utils.$text-colors, $module)
    );

    @include components.divider(map.get(utils.$text-colors, $module));

    @include components.pagination(
      map.get(utils.$text-colors, $module),
      utils.$white,
      map.get(utils.$text-colors, $module),
      map.get(utils.$hover-colors, $module),
      map.get(utils.$active-colors, $module),
      utils.$text-darker
    );

    @include components.pagination-current($module);

    @include components.skeleton(
      utils.$skeleton-color,
      utils.$skeleton-light-color
    );

    @include sidebar.sidebar(
      map.get(utils.$bg-1-colors, $module),
      map.get(utils.$bg-2-colors, $module),
      map.get(utils.$text-colors, $module),
      utils.$text-darker,
      map.get(utils.$active-colors, $module)
    );

    .light {
      background-color: map.get(utils.$text-colors, $module);
      box-shadow: 0
        0
        utils.$blur
        utils.$spread
        map.get(utils.$text-colors, $module);

      h1,
      h2,
      h3,
      h4,
      p,
      a,
      span,
      label {
        color: map.get(utils.$bg-2-colors, $module);
      }

      .colored {
        color: map.get(utils.$hover-colors, $module);
      }

      .underline {
        @include utils.underline(map.get(utils.$bg-2-colors, $module));
      }

      .colored.underline {
        text-decoration-color: map.get(utils.$hover-colors, $module);
      }

      @include buttons.link(
        map.get(utils.$hover-colors, $module),
        map.get(utils.$active-colors, $module),
        map.get(utils.$active-colors, $module),
        map.get(utils.$highlight-colors, $module)
      );

      @include buttons.button-outlined(
        map.get(utils.$active-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$highlight-colors, $module),
        map.get(utils.$disabled-colors, $module),
        map.get(utils.$bg-2-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$active-colors, $module),
        map.get(utils.$disabled-colors, $module)
      );

      @include text-inputs.input-select-textarea(
        true,
        map.get(utils.$text-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$bg-2-colors, $module)
      );

      @include text-inputs.text-select(
        map.get(utils.$bg-2-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$disabled-colors, $module),
        map.get(utils.$bg-2-colors, $module),
        map.get(utils.$text-colors, $module)
      );

      @include binary-inputs.radio-checkbox-switch(
        map.get(utils.$text-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$hover-colors, $module),
        map.get(utils.$disabled-colors, $module)
      );

      @include number-inputs.slider(
        utils.$text-darker,
        map.get(utils.$hover-colors, $module),
        map.get(utils.$active-colors, $module),
        map.get(utils.$hover-colors, $module)
      );

      @include number-inputs.circle-slider(
        utils.$text-darker,
        map.get(utils.$hover-colors, $module),
        map.get(utils.$text-colors, $module),
        map.get(utils.$bg-2-colors, $module)
      );

      @include components.divider(map.get(utils.$bg-2-colors, $module));

      @include components.pagination(
        utils.$text-darker,
        utils.$white,
        map.get(utils.$bg-2-colors, $module),
        map.get(utils.$bg-2-colors, $module),
        map.get(utils.$active-colors, $module),
        utils.$text-darker
      );

      @include components.skeleton(
        utils.$skeleton-light-color,
        utils.$skeleton-color
      );
    }
  }
}
