@use 'sass:map';
@use 'utils';
@use 'sidebar';

$avatar-width: 10em;
$frame-border-width: 0.75rem;
$frame-start-width: 200px;

.user {
  position: relative;
  min-width: 100%;
  min-height: 100%;
}

.guest-page {
  margin: 5em 3.5em;

  .title {
    width: 37.5em;
    margin-bottom: 5.25em;
  }

  .guest-page-form {
    width: 17.5em;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    align-items: stretch;
  }
}

.avatar img {
  border-radius: utils.$regular-radius;
  object-fit: cover;
}

.profile-info {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100vw;
  padding: utils.$layout-padding;

  display: grid;
  grid-template-columns: $avatar-width 1fr min-content;
  gap: 1em;
  font-size: utils.$regular-size;

  background-color: map.get(utils.$bg-1-colors, 'user');
  border-bottom: solid 4px map.get(utils.$bg-2-colors, 'user');

  .avatar {
    width: $avatar-width;
    height: $avatar-width;
  }
}

.profile-credits {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  font-family: utils.$ibm-plex;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.profile-meta {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: right;
  justify-content: space-between;
}

.profile-controlls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile {
  .profile-info {
    padding-left: utils.$layout-padding + sidebar.$sidebar-icon-width +
      sidebar.$sidebar-padding-x * 2;
  }
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;

  .flag {
    min-width: 1em;
    height: 1em;

    img,
    .skeleton {
      border-radius: 2px;

      svg {
        display: none;
      }
    }
  }
}

.avatar-field {
  position: relative;
  align-self: center;

  font-size: utils.$regular-font;

  width: 13em;
  height: 13em;

  .avatar {
    width: 100%;
    height: 100%;
  }
}

.avatar-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  opacity: 0;
  background-color: utils.$black-alpha;
  font-size: utils.$regular-size;
  transition: opacity utils.$hover-time;
  cursor: pointer;

  svg {
    width: 3rem;
    height: 3rem;

    * {
      stroke-width: 2px;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.avatar-delete {
  position: absolute;
  bottom: 0;
  right: 0;
}

.avatar-editor {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 4em 8em;
  box-sizing: border-box;

  background-color: unset;
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;

  .skeleton {
    flex-grow: 1;
  }

  .buttons-flex-box {
    width: 22em;
    z-index: 12;
  }
}

.frame {
  position: absolute;
  top: calc(50vh - $frame-start-width / 2);
  left: calc(50vw - $frame-start-width / 2);
  min-width: $frame-start-width;
  min-height: $frame-start-width;
  flex-grow: 0;

  border: solid 2px utils.$white;
  box-sizing: border-box;
  box-shadow: 0 0 0 99999px utils.$black-alpha;

  cursor: move;
  user-select: none;

  > div {
    position: absolute;
    width: $frame-border-width;
    height: $frame-border-width;
    box-sizing: border-box;

    border-radius: utils.$max-radius;
    background-color: utils.$white;

    user-select: none;
  }

  #ne {
    top: -$frame-border-width * 0.5;
    right: -$frame-border-width * 0.5;
    cursor: nesw-resize;
  }

  #nw {
    top: -$frame-border-width * 0.5;
    left: -$frame-border-width * 0.5;
    cursor: nwse-resize;
  }

  #se {
    bottom: -$frame-border-width * 0.5;
    right: -$frame-border-width * 0.5;
    cursor: nwse-resize;
  }

  #sw {
    bottom: -$frame-border-width * 0.5;
    left: -$frame-border-width * 0.5;
    cursor: nesw-resize;
  }
}

.avatar-origin {
  align-self: stretch;
  flex-grow: 1;
  min-width: $frame-start-width;
  min-height: $frame-start-width;

  img {
    display: block;

    min-width: $frame-start-width;
    min-height: $frame-start-width;
    max-width: 100%;
    max-height: 100%;
    width: unset;
    height: unset;

    border-radius: utils.$large-radius;
    pointer-events: none;
    cursor: none;
    margin: auto;
  }
}

.service-auth-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.625em;

  h1,
  h2,
  h3,
  h4 {
    text-align: left;
  }
}

.users-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2.5em;

  flex: 1;
  width: 30em;
}

.users-search {
  h2,
  .h2 {
    margin-bottom: 1em;
  }
}

.found-users {
  display: flex;
  flex-direction: column;
  gap: inherit;

  flex: 1;

  &:empty {
    display: none;
  }
}

.user-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;

  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;

  color: map.get(utils.$bg-2-colors, 'user') !important;

  .avatar {
    width: 2.5em;
    height: 2.5em;
  }

  .user-credits {
    flex: 1;
  }

  &:hover,
  &:focus-visible {
    color: map.get(utils.$hover-colors, 'user') !important;
  }

  &:active {
    color: map.get(utils.$active-colors, 'user') !important;
  }
}

.user-preview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1em;

  height: fit-content;
  padding: 0.5em;

  border-radius: utils.$regular-radius;
  background-color: map.get(utils.$bg-1-colors, 'user');
  color: map.get(utils.$text-colors, 'user') !important;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: map.get(utils.$bg-2-colors, 'user');
    color: map.get(utils.$active-colors, 'user') !important;
  }

  &:active {
    background-color: map.get(utils.$hover-colors, 'user');
    color: map.get(utils.$highlight-colors, 'user') !important;
  }

  .avatar {
    width: 5.5em;
    height: 5.5em;
  }

  .user-credits {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 0.5em;

    .skeleton {
      width: 50%;
    }
  }
}

.no-results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.67em;

  font-family: utils.$ibm-plex;
  @include utils.font(utils.$h2-size, utils.$regular-font, utils.$fit-font);

  svg {
    width: 5.5em;
    height: 5.5em;

    * {
      stroke-width: 2px;
    }
  }

  flex: 1;
}
